[submodule "riscv-binutils"]
	path = riscv-binutils
	url = ../riscv-binutils-gdb.git
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = git://sourceware.org/git/glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = ../riscv-dejagnu.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = git://sourceware.org/git/newlib-cygwin.git
[submodule "riscv-qemu"]
	path = riscv-qemu
	url = https://git.qemu.org/git/qemu.git
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = ../riscv-binutils-gdb.git
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = https://github.com/kmisimn76/riscv-gcc.git
